/***** ——————————————————————————————————————————————————————————————————————
Google Fonts
—————————————————————————————————————————————————————————————————————— *****/

@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Playfair+Display:400,700,900|Roboto:100,300,400,900&display=swap');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Hammersmith One', sans-serif;
*/

/***** ——————————————————————————————————————————————————————————————————————
Global Styles
—————————————————————————————————————————————————————————————————————— *****/

/*——————— Basic Settings ———————*/
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font: 300 14px / 1.5 'Roboto', sans-serif;
	color: #413d4b;

	min-width: 320px;
}
ul {
	margin: 0;
	padding-left: 0;
}
ul li {
	list-style: none;
}
input,
textarea,
button:focus {
	outline: none;
}
button {
	border: none;
}
a:hover {
	text-decoration: none;
}
::placeholder {
  color: #777;
  opacity: 1;
}
:focus::placeholder {
	color: transparent;
}

/*——————— video-bg ———————*/
.video-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video-bg::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: linear-gradient(0, rgba(47, 42, 79, .7), rgba(80, 63, 118, .7));
}
.video {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*——————— Extra Classes ———————*/
.img-fluid {
	display: block;
	max-width: 100%;
	height: auto;
}
.btn {
	font: 16px 'Hammersmith One', sans-serif;
	text-transform: uppercase;
	color: #00e0d0;

	display: inline-block;
	padding: 9px 14px;

	border: 1px solid #00e0d0;
	border-radius: 2px;
	background: none;
	transition: all .15s linear;
}
.btn:hover {
	color: #00e0d0;
	box-shadow: 0 0 15px #00e0d0;
}
.s-padding {
	padding: 63px 0 70px;
}
.s-title {
	font: 700 22px 'Playfair Display', serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #413d4b;

	position: relative;
}
.s-subtitle {
	font: 400 14px 'Playfair Display', serif;
	letter-spacing: 1px;
	color: #f9f9f9;

	margin-bottom: 63px;
	position: relative;
}
.s-subtitle::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: calc(50% - 25px);
	width: 50px;
	height: 2px;

	background-color: #c6c4c9;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: Header
—————————————————————————————————————————————————————————————————————— *****/

.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	padding: 15px 0;
	transition: background 1s linear;
}
.header.fixed {
	position: fixed;
	background: linear-gradient(0, rgb(47, 42, 79), rgb(80, 63, 118));
}

/*——————— header-logo ———————*/
.header-logo span {
	font-size: 30px;
	font-weight: 100;
	color: #18bfc1;

	vertical-align: middle;
	margin-left: 9px;
}

/*——————— desktop-nav ———————*/
.desktop-nav a,
.mobile-nav a {
	font-size: 13px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;

	transition: color .15s linear;
}
.desktop-nav a:hover,
.desktop-nav a.is-active,
.mobile-nav a.is-active {
	color: #00e0d0;
}
.desktop-nav a:not(:last-child) {
	margin-right: 23px;
}

/*——————— mobile-nav ———————*/
.mobile-nav {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	width: 100%;
	height: 100vh;
	min-height: 568px;

	background: linear-gradient(0, rgb(47, 42, 79), rgb(80, 63, 118));
}
.mobile-nav-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100%;
}
.mobile-nav a {
	font-size: 17px;
}
.mobile-nav a:not(:last-child) {
	margin-bottom: 25px;
}

/*——————— hamburger ———————*/
.hamburger {
	display: none;
	padding: 0;
	height: 24px;
}
.hamburger:hover,
.hamburger.is-active:hover {
	opacity: 1;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	background-color: #18bfc1;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #18bfc1;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: Intro
—————————————————————————————————————————————————————————————————————— *****/

.intro {
	padding: 218px 0 60px;
	position: relative;

	background: linear-gradient(0, rgb(47, 42, 79), rgb(80, 63, 118));
}

/*——————— intro-carousel ———————*/
.intro-carousel {
	color: #fff;
	text-align: center;
}
.intro-slide {
	width: 100%;
	max-width: 780px;
	padding: 0 10px;
	margin: 0 auto;
}
.intro-title {
	font: 900 32px 'Playfair Display', serif;
	text-transform: capitalize;

	position: relative;
	margin-bottom: 45px;
}
.intro-title::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: calc(50% - 25px);
	width: 50px;
	height: 1px;

	background-color: #00e0d0;
}
.intro-text {
	line-height: 1.8;
	letter-spacing: .5px;

	margin-bottom: 42px;
}
.intro-slide .btn {
	margin-bottom: 112px;
}

/*——————— owl-dots ———————*/
.owl-theme .owl-dots .owl-dot span {
	margin-left: 3px;
	margin-right: 3px;
	background: none;
	border: 1px solid #bab9bc;
	transition: background .1s linear;
}
.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #bab9bc;
}
.owl-theme .owl-dots .owl-dot.active span {
	background-color: #00e0d0;
	border-color: #00e0d0;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: About
—————————————————————————————————————————————————————————————————————— *****/

.s-about p {
	letter-spacing: .4px;
	color: rgba(65, 61, 75, .75);

	margin: 18px 0 24px;
}
.s-about .btn {
	margin-top: 7px;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: v-Story
—————————————————————————————————————————————————————————————————————— *****/

.v-story {
	height: 550px;
	position: relative;

	background-color: #000;
}
.iframe {
	display: block;
	width: 100%;
	height: 100%;
}
.iframe-poster {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;

	font-size: 16px;
	font-weight: 900;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;

	background: url(../images/v-story/iframe-poster--1920.jpg) no-repeat center / cover;
	transition: opacity .8s linear, height 0s .8s, color .2s linear;
}
.iframe-poster::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	width: 100%;
	height: 100%;

	background: linear-gradient(0, rgba(47, 42, 79, .7), rgba(80, 63, 118, .7));
}
.iframe-poster:hover {
	color: #00e0d0;
	cursor: pointer;
}
.v-story.hide-poster .iframe-poster {
	opacity: 0;
	height: 0;
	color: #00e0d0;
}
.iframe-btn {
	width: 100px;
	height: 100px;
	margin-bottom: 30px;
	padding: 0;
	padding-left: 7px;

	font-size: 40px;
	color: #fff;

	border: 3px solid #fff;
	border-radius: 50%;
	background: none;
	transition: all .2s linear;
}
.iframe-poster:hover .iframe-btn,
.v-story.hide-poster .iframe-btn {
	color: #00e0d0;
	border-color: #00e0d0;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: Expertise
—————————————————————————————————————————————————————————————————————— *****/

.s-expertise {
	text-align: center;
}
.s-expertise.s-padding {
	padding-bottom: 60px;
}
.s-expertise .s-subtitle {
	color: rgba(47, 45, 53, .75);
	margin-bottom: 60px;
}

/*——————— expertise-item ———————*/
.expertise-item {
	padding: 40px 30px 24px;
}
.expertise-item i {
	font-size: 45px;
	color: #00e0d0;

	margin-bottom: 32px;
}
.expertise-item h3 {
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: .6px;

	margin-bottom: 16px;
}
.expertise-item p {
	letter-spacing: .7px;
	color: rgba(51, 51, 51, .75);
}
.expertise-item:nth-child(1),
.expertise-item:nth-child(2),
.expertise-item:nth-child(3) {
	border-bottom: 1px solid #ebebeb;
}
.expertise-item:nth-child(1),
.expertise-item:nth-child(2),
.expertise-item:nth-child(4),
.expertise-item:nth-child(5) {
	border-right: 1px solid #ebebeb;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: Team
—————————————————————————————————————————————————————————————————————— *****/
.s-team {
	text-align: center;
	position: relative;

	background: linear-gradient(0, rgb(47, 42, 79), rgb(80, 63, 118));
}
.s-team .s-title {
	color: #fff;
}
.s-team .s-subtitle::after {
	background-color: rgba(249 ,249 ,249 , .2);
}

/*——————— team-item--info ———————*/
.teammate-info {
	padding: 18px 0;
	border: 1px solid rgba(250, 250, 250, .5);
}
.teammate-info h3 {
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: .6px;
	color: #fff;

	margin-bottom: 2px;
}
.teammate-info p {
	font-size: 13px;
	text-transform: uppercase;
	color: rgba(250, 250, 250, .7);

	margin-bottom: 0;
}

/*——————— team-text ———————*/
.team-text {
	letter-spacing: .7px;
	color: #f3f3f3;

	margin-top: 66px;
	margin-bottom: 23px;
}
.team-text,
.s-team .btn {
	position: relative;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: 
—————————————————————————————————————————————————————————————————————— *****/



/***** ——————————————————————————————————————————————————————————————————————
Section: 
—————————————————————————————————————————————————————————————————————— *****/


/*———————  ———————*/
