/***** ——————————————————————————————————————————————————————————————————————
Google Fonts
—————————————————————————————————————————————————————————————————————— *****/

@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Playfair+Display:400,700,900|Roboto:100,300,400,900&display=swap');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Hammersmith One', sans-serif;
*/

/***** ——————————————————————————————————————————————————————————————————————
Global Styles
—————————————————————————————————————————————————————————————————————— *****/

/*——————— Basic Settings ———————*/
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font: 300 14px 'Roboto', sans-serif;
	line-height: 1.5;
	color: #413d4b;

	min-width: 320px;
}
ul {
	margin: 0;
	padding-left: 0;
}
ul li {
	list-style: none;
}
input,
textarea,
button:focus {
	outline: none;
}
button {
	border: none;
}
a:hover {
	text-decoration: none;
}
::placeholder {
  color: #777;
  opacity: 1;
}
:focus::placeholder {
	color: transparent;
}

/*——————— Extra Classes ———————*/
.img-fluid {
	display: block;
	max-width: 100%;
	height: auto;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: 
—————————————————————————————————————————————————————————————————————— *****/

h1 {
	font-family: 'Hammersmith One', sans-serif;
	text-align: center;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: 
—————————————————————————————————————————————————————————————————————— *****/



/***** ——————————————————————————————————————————————————————————————————————
Section: 
—————————————————————————————————————————————————————————————————————— *****/



/***** ——————————————————————————————————————————————————————————————————————
Section: 
—————————————————————————————————————————————————————————————————————— *****/



/***** ——————————————————————————————————————————————————————————————————————
Section: 
—————————————————————————————————————————————————————————————————————— *****/




/*———————  ———————*/