/***** ——————————————————————————————————————————————————————————————————————
Responsive Media Queries
—————————————————————————————————————————————————————————————————————— *****/

@media (max-width: 991px) {

	/*——————— Section: Header ———————*/
	.desktop-nav {
		display: none;
	}
	.hamburger {
		display: block;
	}

}

@media (max-width: 767px) {

	/*——————— Section: Name ———————*/
	

}

@media (max-width: 575px) {

	/*——————— Section: Intro ———————*/
	.intro {
		padding-top: 148px;
	}
	.intro-slide .btn {
		margin-bottom: 62px;
	}

}

@media (max-width: 320px) {

	/*——————— Section: Name ———————*/
	

}
