/***** ——————————————————————————————————————————————————————————————————————
Responsive Media Queries
—————————————————————————————————————————————————————————————————————— *****/

@media (max-width: 991px) {

	/*——————— changing video fons ———————*/
/*	.video-bg {
		display: none;
	}
	.intro {
		background: url(..//images/intro/intro-bg.jpg) no-repeat center / cover;
		z-index: 10;
	}
	.s-team {
		background: url(../images/team/team-bg.jpg) no-repeat center / cover;
		z-index: 10;
	}
	.reviews {
		background: url(../images/reviews/reviews-bg.jpg) no-repeat center / cover;
		z-index: 10;
	}
	.footer {
		background: url(../images/footer/footer-bg.jpg) no-repeat center / cover;
		z-index: 10;
	}
	.intro::after,
	.s-team::after,
	.reviews::after,
	.footer::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -10;

		width: 100%;
		height: 100%;

		background: linear-gradient(0deg, rgba(47, 42, 79, .7), rgba(80, 63, 118, .7));
	}*/

	/*——————— Section: Header ———————*/
	.desktop-nav {
		display: none;
	}
	.hamburger {
		display: block;
	}

	/*——————— Section: Expertise ———————*/
	.expertise-item {
		max-width: 320px;
	}
	.expertise-item:nth-child(1),
	.expertise-item:nth-child(2),
	.expertise-item:nth-child(3),
	.expertise-item:nth-child(4) {
		border-bottom: 1px solid #ebebeb;
	}
	.expertise-item:nth-child(1),
	.expertise-item:nth-child(3),
	.expertise-item:nth-child(5) {
		border-right: 1px solid #ebebeb;
	}
	.expertise-item:nth-child(2),
	.expertise-item:nth-child(4) {
		border-right: none;
	}

	/*——————— Section: Team ———————*/
	.team-items {
		max-width: 480px;
		margin: 0 auto;
	}
	.team-item:first-child {
		margin-bottom: 50px;
	}

	/*——————— Section: Contact ———————*/
	.contact-form {
		margin-bottom: 63px;
	}

	/*——————— Section: Footer ———————*/
	.footer-items {
		width: 100%;
		max-width: 320px;
	}
	.footer-item:not(:last-child) {
		margin-bottom: 35px;
	}
	.footer-title {
		margin-bottom: 25px;
	}

}

@media (max-width: 767px) {

	/*——————— Section: v-Story ———————*/
	.v-story {
		height: 480px;
	}
	.iframe-poster {
		background-image: url(../images/v-story/iframe-poster--800.jpg);
	}

	/*——————— Section: Expertise ———————*/
	.expertise-item:nth-child(5) {
		border-bottom: 1px solid #ebebeb;
	}
	.expertise-item:nth-child(1),
	.expertise-item:nth-child(3),
	.expertise-item:nth-child(5) {
		border-right: none;
	}

	/*——————— Section: Footer ———————*/
	.footer-items {
		margin-left: auto;
		margin-right: auto;
	}
	.social-links,
	.footer-links {
		text-align: center;
	}
	.footer-links {
		flex-direction: column;
	}
	.helpful-links {
		margin-bottom: 7px;
	}

}

@media (max-width: 575px) {

	/*——————— Extra Classes ———————*/
	.s-title {
		letter-spacing: .3px;
	}

	/*——————— Section: Intro ———————*/
	.intro {
		padding-top: 148px;
	}
	.intro-slide .btn {
		margin-bottom: 62px;
	}

	/*——————— Section: v-Story ———————*/
	.v-story {
		height: 380px;
	}

	/*——————— Section: Expertise ———————*/
	.s-expertise .s-subtitle {
		margin-bottom: 40px;
	}
	.s-expertise.s-padding {
		padding-bottom: 25px;
	}

	/*——————— Section: Team ———————*/
	.team-items {
		max-width: 240px;
	}
	.team-item:not(:last-child) {
		margin-bottom: 50px;
	}
	.team-text {
		letter-spacing: .5px;
	}

	/*——————— Section: Reviews ———————*/
	.reviews-carousel.owl-theme .owl-dots {
		height: 60px;
	}
	.reviews-carousel.owl-theme .owl-dots .owl-dot span {
		width: 60px;
		height: 60px;
	}
	.reviews-carousel.owl-theme .owl-dots .owl-dot:first-child span {
		background-position: -5px 0;
	}
	.reviews-carousel.owl-theme .owl-dots .owl-dot:nth-child(2) span {
		background-position: -72px 0;
	}
	.reviews-carousel.owl-theme .owl-dots .owl-dot:nth-child(3) span {
		background-position: -145px 0;
	}
	.reviews-carousel.owl-theme .owl-dots .owl-dot:nth-child(4) span {
		background-position: -215px;
	}
	.reviews-carousel.owl-theme .owl-dots .owl-dot:last-child span {
		background-position: -285px;
	}
	.reviews-carousel.owl-theme .owl-nav {
		display: none;
	}

}

@media (max-width: 320px) {

	/*——————— Section: Contact ———————*/
	.clients-logos {
		height: 364px;
	}

}
